<div class="md:container md:mx-auto mt-8">
  <div class="relative pt-8 mb-8 page-header page-title"><%= gettext("Edit Blog")%></div>
  <%= render RunWeb.SharedView, "tabs.html", %{tabs: @tabs} %>
</div>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_blogs_path(@conn, :update, @blog)) %>

