  <div class="relative pt-8 mb-8 page-header page-title"><%= gettext("Blogs")%></div>
  <div class="container mx-auto p-2 md:p-0">
    <div class="flex flex-wrap -mx-4">
      <%= for blog <- @blogs do %>
        <%= render "_card.html", %{conn: @conn, blog: blog}%>
      <% end %> 
    </div>
  </div>