


<!-- Jumbotron -->
<div class="p-6 m-4 -mt-4 shadow-lg rounded-lg bg-gray-100 text-gray-700">
  <h2 class="font-semibold text-3xl mb-5"><%= @blog.title %></h2>
  <p class="columns-1 md:columns-2 lg:columns-3">
    <%= raw(@blog.description) %>
  </p>

</div>
