<main class="relative">
  <%= if Enum.any?(@flash) do %>
    <div class="absolute top-0 right-4 z-40">
      <p class="flash flash-green" role="alert"
        phx-click="lv:clear-flash"
        phx-value-key="info"><%= live_flash(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"
        phx-click="lv:clear-flash"
        phx-value-key="error"><%= live_flash(@flash, :error) %></p>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
