@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "vendor/flowbite";
/* This file is for your main application CSS */


body {
  font-family: "Inter", sans-serif;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@layer components {

  .menu-item {
    @apply block py-2 pr-4 pl-3 text-black md:text-white border-b border-gray-100 bg-gray-200 bg-gray-200 md:bg-red-600 hover:bg-red-500 md:border-0 md:p-0
  }

  .link {
    @apply text-blue-600 hover:text-blue-400;
  }

  .page-header {
    @apply flex-wrap md:container md:mx-auto
  }

  .page-title {
    @apply text-black font-semibold text-2xl text-center px-4 w-full items-center
  }

  .top-link {
    @apply inline-block text-white no-underline hover:text-gray-200 py-2 px-4
  }

  .label {
    @apply block text-gray-700 font-bold mb-2
  }

  .btn {
    @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out
  }

  .btn-s {
    @apply px-4 py-1.5
  }

  .btn-l {
    @apply px-6 py-5
  }

  .btn-blue {
    @apply bg-blue-600 text-white hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:ring-0 active:bg-blue-800
  }

  .btn-red {
    @apply bg-red-600 text-white hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:ring-0 active:bg-red-800
  }

  .phx-modal-content {
    @apply rounded
  }

  .invalid-feedback {
    @apply block text-red-700
  }

  .flash {
    @apply flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3 rounded-md
  }

  .flash-red {
    @apply bg-red-600
  }

  .flash-green {
    @apply bg-green-600
  }
}