<div class="md:container md:mx-auto mt-8 px-2">
  <%= render RunWeb.SharedView, "tabs.html", %{tabs: @tabs} %>
  <div class="relative pt-8 mb-8 page-header page-title"><%= gettext("Admin")%></div>
</div>