
<div class="md:container md:mx-auto mt-8">
  <div class="mt-32 page-header page-title">Admin</div>
</div>


<div class="md:container md:mx-auto mt-8">
    <span><%= link gettext("blogs"), to: Routes.admin_blogs_path(@conn, :index) , class: "btn"%></span>
</div>