<h1>Show Member</h1>

<ul>

  <li>
    <strong>Start:</strong>
    <%= @member.start %>
  </li>

  <li>
    <strong>End:</strong>
    <%= @member.end %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @member.type %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.member_path(@conn, :edit, @member) %></span> |
<span><%= link "Back", to: Routes.member_path(@conn, :index) %></span>
