<%= render "_carousel.html", assigns %>

<div class="md:container md:mx-auto">
  <div class="mt-10 text-4xl text-center font-bold"><%= @blog.title %></div>
</div>

 <div class="container mx-auto p-2 md:p-0">
    <div class="flex flex-wrap -mx-4">
    <%= render "_card.html", %{post: @welcome_post} %>
    <%= render "_card.html", %{post: @training_post} %>
    <%= render "_card.html", %{post: @become_member_post} %>
  </div>
</div>