<%= render "_carousel.html", assigns %>

<div class="md:container md:mx-auto">
  <div class="mt-10 text-4xl text-center font-bold"><%= @blog.title %></div>
</div>

<div class="md:container md:mx-auto mt-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    <%= render "_card.html", %{post: @welcome_post} %>
    <%= render "_card.html", %{post: @training_post} %>
    <%= render "_card.html", %{post: @become_member_post} %>
  </div>
</div>